/* Inicio das configurações gerais */
:root {
  --primary: #ffC93C;
  --secondary: #4B2E83;
  --accent: #6F42C1;
  --bg: #F5F3FF;
  --card-bg: #f9f9f9;
  --text: #333333;
  --radius: 12px;
}

html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
  color: var(--text);
  background: var(--bg);
}
/* Fim das configurações gerais */
/* Inicio da barra de rolagem personalizada */
/* largura da barra */
::-webkit-scrollbar {
  width: 15px;
}

/* fundo da barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* "thumb" (parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 5px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/* Fim da barra de rolagem personalizada */