APP_ENV=local
APP_URL=http://localhost/Toca-dos-Peludos/api/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=toca_api
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=troque-por-uma-chave-bem-grande
JWT_ISSUER=toca-api
JWT_AUDIENCE=toca-clients
JWT_TTL=3600